*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 100vw;
    min-height: 100vh;
    background-color:rgb(255, 255, 255);
    /* overflow-X: hidden; */
    left: 0;
}
.glowing{
    position: relative;
    min-width: 750px;
    min-height: 500px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
    margin: -150px;
}
.glowing:nth-child(even){
    transform-origin: left;
}
@keyframes colorChange {
    0%{
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

.glowing span{
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}
.glowing span:before{
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
}
.glowing span:nth-child(3n + 1):before{
    background:  rgba(134,255,0,1);
    box-shadow: 0 0 20px rgba(134,255,0,1),
                0 0 40px rgba(134,255,0,1),
                0 0 60px rgba(134,255,0,1),
                0 0 80px rgba(134,255,0,1),
                0 0 8px rgba(134,255,0,.1);
}
.glowing span:nth-child(3n + 2):before{
    background:  rgba(255,214,0,1);
    box-shadow: 0 0 20px rgba(255,214,0,1),
                0 0 40px rgba(255,214,0,1),
                0 0 60px rgba(255,214,0,1),
                0 0 80px rgba(255,214,0,1),
                0 0 8px rgba(255,214,0,.1);
}
.glowing span:nth-child(3n + 3):before{
    background:  rgba(0,226,255,1);
    box-shadow: 0 0 20px rgba(0,226,255,1),
                0 0 40px rgba(0,226,255,1),
                0 0 60px rgba(0,226,255,1),
                0 0 80px rgba(0,226,255,1),
                0 0 8px rgba(0,226,255,.1);
}
.glowing span:nth-child(3n+1){
    animation: animate 6s alternate infinite;
}
.glowing span:nth-child(3n+2){
    animation: animate-reverse 3s alternate infinite;
}
.glowing span:nth-child(3n+3){
    animation: animate 2s alternate infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate-reverse {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.info{
    /* background-color: #23242780; */
    min-width: 500px;
    max-width: 75%;
    min-height: 500px;
    max-height: 100%;
    position: relative;
    top: 0px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px ;
    margin: 40px 0px;
}
.container .card{
    position :relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 15px rgba(255,255,255,0.1),
                5px 5px 15px rgba(0,0,0,0.3),
                -5px -5px 15px rgba(255,255,255,0.1);

    border-radius: 15px;
    margin: 60px 45px;            
}
.container .card .box{
    position: absolute;
    top:20px ;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background:#2a2b2f ;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0,0,0,0,5);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container .card .box:hover{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,0.5);
}
.container .card .box .content{
    padding: 20px;
    text-align: center;

}
.container .card .box .content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
}
.container .card .box .content h3{
    font-size: 1.8em;
    color: rgba(255,255,255,0.5);
    z-index: 1;
    transform: 0.5s;
}
.container .card .box .content p{
    margin-top: 2%;
    font-size: 18px;
    font-weight: 300;
    color: rgba(255,255,255,0.5);
    z-index: 1;
    transform: 0.5s;
}
.heading{
    /* background-color: #23242780; */
    background: -webkit-linear-gradient(0deg,transparent 50%,rgba(0, 0, 0, 0.822) 50%);
    background-size: 2000px 75% ;
    border: 4px solid rgba(0, 0, 0, 0.822);
    border-radius: 140px;
    min-width: 1000px;
    max-width: 75%;
    min-height: 200px;
    max-height: 100%;
    position: relative;
    margin-bottom: 10%;
    margin-top: 20%;
    transition: 1s;
    z-index: 100;
}
.starting-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 90%;
    min-height: 90%;
    
}
.starting-info h1{
    position: relative;
    top: 50px;
    font-size: 4rem;
    text-shadow: 2px 0px rgba(25, 25, 215, 0.822);
    /* z-index: 2; */
    color: rgba(0, 0, 0, 0.822);
}
.starting-info h3{
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 2rem;
    color: rgba(255,255,255,0.8);
}
.starting-info p{
    display: none;
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 1.5rem;
    color: rgba(255,255,255,0.8);
}
.heading:hover{
    background-position: 1000px 75%;
}
.mapic{
    position: absolute;
    top: 220%;
    left: 0%;
    min-width: 25%;
    min-height: 50%;
    margin-bottom: 5%;
    transition: 1s;
    
}
.mapic .actualpic{
    position: absolute;
    top:20%;
    left: 15%;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 15px 10px 40px 5px rgb(102, 102, 102);
}
.mapic .actualpic img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mapic .virtualpic{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top:30%;
    left: 30%;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
    z-index: 99;
    transition: 2s !important;
    
}
.mapic .virtualpic:hover{
    background-color: rgba(0,0,0,0);
}
.mapic .newtopic{
    position: absolute;
    top :150%;
    left: 230%;
    width: 110%;
    text-shadow: 2px 0px rgba(25, 25, 215, 0.822);
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.822);
    text-transform: capitalize;

}
.portfolio{
    position: relative;
    top: 500px;
    min-height: 1000px;
    min-width: 75%;
    max-width: 75%;
    background-color: #08001b;
    
}
.inner-port{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
}
.icons{
    position: relative;
    min-width: 330px;
    min-height: 160px;
    /* border: 2px solid black; */
    margin: 10px;
    /* margin-right: 10px; */
    overflow: hidden;
}
.icon{
    position: absolute;
    min-width: 320px;
    min-height: 150px;
    max-width: 320px;
    max-height: 150px;
    
    top: 5px;
    left: 6px;
    overflow: hidden;
    /* border: 3px solid red;     */
}
.inner-port .icons .icon img{
    width: 320px;
    height: 150px;
    overflow: hidden;
}
.inner-port .icons .icon img:hover{
    cursor: pointer;
}
.inner-port .icons span , .box2 .inner-box2 span{
    transition: 0.5s;
    opacity: 0;
}
.inner-port .icons:hover span , .box2 .inner-box2:hover span{
    opacity: 1;
}
.inner-port .icons span:nth-child(1), .box2 .inner-box2 span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,transparent,#1779ff);
    animation: coolline1 1s linear infinite;
}
@keyframes coolline1 {
    0%{
        transform: translateX(-100%) ;
    }
    100%{
        transform: translateX(100%);
    }
}
.inner-port .icons span:nth-child(2),  .box2 .inner-box2 span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom,transparent,#1779ff);
    animation: coolline2 1s linear infinite;
    animation-delay:0.5s;
}
@keyframes coolline2 {
    0%{
        transform: translateY(-100%) ;
    }
    100%{
        transform: translateY(100%);
    }
}
.inner-port .icons span:nth-child(3), .box2 .inner-box2 span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left,transparent,#1779ff);
    animation: coolline3 1s linear infinite;
}
@keyframes coolline3 {
    0%{
        transform: translateX(100%) ;
    }
    100%{
        transform: translateX(-100%);
    }
}
.inner-port .icons span:nth-child(4), .box2 .inner-box2 span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top,transparent,#1779ff);
    animation: coolline4 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes coolline4 {
    0%{
        transform: translateY(100%) ;
    }
    100%{
        transform: translateY(-100%);
    }
}
.project-header{
    position: relative;
    top: 750px;
    min-width: 70%;
    max-width: 70%;
    margin-right: 10%;
    min-height: 500px;
}
.project-header h1{
    position: absolute;
    font-size: 5rem;
    font-weight: bold;
    text-shadow:2px 0px rgba(25, 25, 215, 0.822) ;
}
.project{
    position: relative;
    
    min-width: 75%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 15px 15px 50px 4px rgb(102, 102, 102);
    /* background-color: black; */
}
.project1{
    top: 550px;
}
.project2{
    top: 900px;
}
.project3{
    top: 1200px;
}
.project4{
    top: 1500px;
}
.project5{
    top: 1900px;
}
.box1{
    position: relative;
    width: 90%;
    min-height: 200px;

}
.box1 h1{
    position: absolute;
    font-size: 6rem;
    top: 10%;
    left: 1%;
    text-shadow: 2px 0px rgba(25, 25, 215, 0.822);
}
.box1 h2{
    font-size: 3.5rem;
    text-shadow: 2px 0px rgba(25, 25, 215, 0.822);
    position: absolute;
    top: 25%;
    left: 70%;
}
.box2{
    position: relative;
    top: 150px;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animatepro1 20s linear infinite;
}
@keyframes animatepro1 {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}
.box2 span{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    overflow: hidden;
    transform: rotateY(calc(var(--i)  * 60deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}.box2 span img:hover{
    cursor: pointer;
}
.box2 span img{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90%;
    height: 90%;
    /* object-fit: cover; */
}
#BigImg{
    position: fixed;
    display: none;
    z-index: 100;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.822);
}
#BigImg img{
    z-index: 200;
    position: relative;
    margin:auto;
    display: block;
    top: 10%;
    min-width: 20%;
    min-height: 20%;
    max-width: 80%;
    max-height: 80%;
    height: auto;
}
.contact-head{
    position: relative;
    justify-content: center;
    top: 2350px;
    left: 1%;
    /* right: 10%; */
    min-width: 60%;
    max-width: 60%;
    font-size: 1em;
    text-shadow: 1px 0px rgba(25, 25, 215, 0.822);
}
.contacts{
    position: relative;
    display: flex;
    min-width: 90%;
    max-width: 90%;
    /* min-height: 400px; */
    /* background-color: rgb(173, 171, 171); */
    /* flex-direction: column; */
    justify-content: center;
    align-content: center;
    top: 2500px;
}
.contacts ul{
    position: relative;
    display: flex;
}
.contacts ul li{
    z-index: 10;
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}
.contacts ul li .fa{
    font-size: 6em;
    color: rgb(61, 60, 60);
}
.contacts ul li::before{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.contacts ul li:nth-child(1)::before{
    content: '\f232';
    color: #25D366;
    border-bottom: 4px solid #25D366;
}
.contacts ul li:nth-child(2)::before{
    content: '\f09b';
    color: #141414;
    border-bottom: 4px solid #211f1f;
}
.contacts ul li:nth-child(3)::before{
    content: '\f095';
    color: #07B982;
    border-bottom: 4px solid #07B982;
}
.contacts ul li:nth-child(4)::before{
    content: '\f08c';
    color: #22B7CB;
    border-bottom: 4px solid #22B7CB;
}
.contacts ul li:nth-child(5)::before{
    content: '\f16d';
    color: #6811B0;
    border-bottom: 4px solid #6811B0;
}
.contacts ul li:hover::before{
    height: 100%;
}
.footer{
    position: relative;
    top: 1950px;
    min-width: 100vw;
    min-height: 100px;
    align-content: center;
    justify-content: center;
    box-shadow: 10px 20px 60px 10px rgb(34, 34, 34);
}
.footer h1{
    position: absolute;
    font-size: 1.3rem;
    font-style: italic;
    text-decoration: wavy;
    text-transform: capitalize;
    top: 30%;
    left: 40%;
    text-align: center;
}
.footer h1 span{
    color: rgb(170, 10, 10);
}
.floating-back{
    top:2000px;
    position: relative;
    min-height: 800px;
    min-width: 90%;
    max-height: 800px;
    max-width: 90%;
    /* border: 2px solid black; */
    /* background-color: black; */
}
.floating-back section{
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
}
.floating-back section span{
    position: absolute;
    pointer-events: none;
    background-color: #fff;
    animation: animateback 2s linear infinite;
}
@keyframes animateback {
    0%{
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10%{
        opacity: 0.5;
    }
    90%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        transform: scale(1) translateY(-500%) rotate(360deg);
    }
}
.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0px;
    width: 100vw;
    min-height: 10vh;
    max-height: 10vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.822);
    transition: top 0.6s;
}
.navbar h1{
    position: relative;
    left: 3%;
    font-size: 2.5rem;
    font-family: 'Comic Sans MS', arial;
    font-style: italic;
    color: rgb(104, 104, 104);
    text-shadow: 2px 1px rgb(255, 255, 255);
}
.navbar h3{
    position: absolute;
    right: 5%;
    font-size: 2rem;
    font-family: 'Comic Sans MS', arial;
    font-style: italic;
    
}
.navbar a{
    text-decoration: none;
    color: rgb(104, 104, 104);
    text-shadow: 2px 1px rgb(255, 255, 255);
}
.circle-roll{
    
    position: absolute;
    width: 100%;
    height: 80%;
    top: 10%;
}
.circle-roll footer{
    height: 100%;
    width: 100%;
    position: relative;
    left: 0;
}
.circle-roll footer span{
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.822);
    animation: animateCircleBack 2s linear infinite;
}
@keyframes animateCircleBack {
    0%{
        transform: scale(0) translateX(0) translateY(0) ;
        opacity: 0;
    }
    5%{
        opacity: 0.5;
        transform: translateX(10px) translateY(10px);
    }
    30%{
        opacity: 0.5;
        transform: translateX(80px) translateY(20px);
    }
    
    50%{
        opacity: 0.7;
        transform: translateY(0px) translateX(150px);
    }
    80%{
        transform: translateY(-50px) translateX(400px);
    }
    90%{
        opacity: 0.5;
        transform: translateY(-20px) translateX(450px);
    }
    100%{
        opacity: 0;
        transform: scale(1) translateX(500px) translateY(0) ;
    }
}
@media only screen and (max-width: 800px){
    .heading{
        min-width: 600px;
        max-width: 55%;
        min-height: 120px;
        max-height: 100%;
        position: relative;
        margin-top: 40%;
    }
    .starting-info{
        min-width: 90%;
        min-height: 90%;
        
    }
    .starting-info h1{
        position: relative;
        top: 40px;
        font-size: 2rem;
        text-shadow: 1px 0px rgba(25, 25, 215, 0.822);
    }
    .starting-info h3{
        display: none;
        position: absolute;
        top: 40px;
        left: 20px;
        font-size: 1rem;
    }
    .starting-info p{
        display: none;
        position: absolute;
        top: 80px;
        left: 50px;
        font-size: .9rem;
    }
    .mapic{
        position: absolute;
        top: 330%;
        left: 0%;
        min-width: 20%;
        min-height: 35%;
        margin-bottom: 5%;
        transition: 1s;
        
    }
    .mapic .newtopic{
        position: absolute;
        top :140%;
        left: 230%;
        width: 110%;
        text-shadow: 1px 0px rgba(25, 25, 215, 0.822);
        font-size: 1.3rem;
    }
    .portfolio{
        position: relative;
        top: 500px;
        min-height: 700px;
        min-width: 75%;
        max-width: 75%;
        background-color: #08001b;
        
    }
    .inner-port{
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 10px;
    }
    .icons{
        position: relative;
        min-width: 170px;
        min-height: 90px;
        /* border: 2px solid black; */
        margin: 10px;
        /* margin-right: 10px; */
        overflow: hidden;
    }
    .icon{
        position: absolute;
        min-width: 160px;
        min-height: 80px;
        max-width: 320px;
        max-height: 150px;
        
        top: 5px;
        left: 6px;
        overflow: hidden;
        /* border: 3px solid red;     */
    }
    .inner-port .icons .icon img{
        width: 160px;
        height: 80px;
        overflow: hidden;
    }
    .inner-port .icons .icon img:hover{
        cursor: pointer;
    }
    .inner-port .icons span , .box2 .inner-box2 span{
        transition: 0.5s;
        opacity: 0;
    }
    .inner-port .icons:hover span , .box2 .inner-box2:hover span{
        opacity: 1;
    }
    .inner-port .icons span:nth-child(1), .box2 .inner-box2 span:nth-child(1){
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(to right,transparent,#1779ff);
        animation: coolline1 1s linear infinite;
    }
    @keyframes coolline1 {
        0%{
            transform: translateX(-100%) ;
        }
        100%{
            transform: translateX(100%);
        }
    }
    .inner-port .icons span:nth-child(2),  .box2 .inner-box2 span:nth-child(2){
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(to bottom,transparent,#1779ff);
        animation: coolline2 1s linear infinite;
        animation-delay:0.5s;
    }
    @keyframes coolline2 {
        0%{
            transform: translateY(-100%) ;
        }
        100%{
            transform: translateY(100%);
        }
    }
    .inner-port .icons span:nth-child(3), .box2 .inner-box2 span:nth-child(3){
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(to left,transparent,#1779ff);
        animation: coolline3 1s linear infinite;
    }
    @keyframes coolline3 {
        0%{
            transform: translateX(100%) ;
        }
        100%{
            transform: translateX(-100%);
        }
    }
    .inner-port .icons span:nth-child(4), .box2 .inner-box2 span:nth-child(4){
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(to top,transparent,#1779ff);
        animation: coolline4 1s linear infinite;
        animation-delay: 0.5s;
    }
    @keyframes coolline4 {
        0%{
            transform: translateY(100%) ;
        }
        100%{
            transform: translateY(-100%);
        }
    }
    .project-header{
        position: relative;
        top: 600px;
        min-width: 50%;
        max-width: 50%;
        margin-right: 10%;
        min-height: 500px;
    }
    .project-header h1{
        position: absolute;
        font-size: 2rem;
        font-weight: bold;
        text-shadow:1.5px 0px rgba(25, 25, 215, 0.822) ;
    }
    .project{
        position: relative;
        
        min-width: 50%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        box-sizing: border-box;
        box-shadow: 15px 15px 50px 4px rgb(102, 102, 102);
        /* background-color: black; */
    }
    
    .project1{
        top: 350px;
    }
    .project2{
        top: 500px;
    }
    .project3{
        top: 600px;
    }
    .project4{
        top: 750px;
    }
    .project5{
        top: 850px;
    }
    .box1{
        position: relative;
        width: 90%;
        min-height: 200px;
    
    }
    .box1 h1{
        position: absolute;
        font-size: 2.5rem;
        top: 10%;
        left: 1%;
        text-shadow: 1.5px 0px rgba(25, 25, 215, 0.822);
    }
    .box1 h2{
        font-size: 2rem;
        text-shadow: 1.5px 0px rgba(25, 25, 215, 0.822);
        position: absolute;
        top: 25%;
        left: 70%;
    }
    .box2{
        position: relative;
        top: 100px;
        width: 120px;
        height: 150px;
        transform-style: preserve-3d;
        animation: animatepro1 20s linear infinite;
    }
    @keyframes animatepro1 {
        0%{
            transform: perspective(1000px) rotateY(0deg);
        }
        100%{
            transform: perspective(1000px) rotateY(360deg);
        }
    }
    .box2 span{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: center;
        transform-style: preserve-3d;
        overflow: hidden;
        transform: rotateY(calc(var(--i)  * 60deg)) translateZ(200px);
        -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
    }
    .contact-head{
        position: relative;
        justify-content: center;
        top: 1200px;
        left: 1%;
        /* right: 10%; */
        min-width: 60%;
        max-width: 60%;
        font-size: 1em;
        text-shadow: 1px 0px rgba(25, 25, 215, 0.822);
    }
    .contacts{
        position: relative;
        display: flex;
        min-width: 60%;
        max-width: 60%;
        /* min-height: 400px; */
        /* background-color: rgb(173, 171, 171); */
        /* flex-direction: column; */
        justify-content: center;
        align-content: center;
        top: 1300px;
    }
    .contacts ul{
        position: relative;
        display: flex;
    }
    .contacts ul li{
        z-index: 10;
        position: relative;
        list-style: none;
        margin: 0 20px;
        cursor: pointer;
    }
    .contacts ul li .fa{
        font-size: 4em;
        color: rgb(61, 60, 60);
    }
    .contacts ul li::before{
        font-family: fontAwesome;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 4em;
        height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }
    .floating-back{
        top:850px;
        position: relative;
        min-height: 800px;
        min-width: 90%;
        max-height: 800px;
        max-width: 90%;
    }
    .footer{
        position: relative;
        top: 800px;
        min-width: 100vw;
        min-height: 100px;
        align-content: center;
        justify-content: center;
        box-shadow: 10px 20px 60px 10px rgb(34, 34, 34);
    }
}