body{
    padding: 0;
    margin: 0;
    font-family: monospace;
    background-image: linear-gradient(to right,#a6eaf7,#a6eaf7,#a6eaf7);
}
#header{
    height: 3.5rem;
    background-attachment: fixed;
    background-image: linear-gradient(to right,rgba(42, 34, 119,0.9),rgba(47, 37, 136,0.8),rgba(87, 79, 194,0.7));
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 9999;
}
#tagname{
    color: teal;
    margin-left: .5rem;
    font-size: 2.3rem;
    font-family: 'Lobster', cursive;
    text-shadow: white 1px 0;
}
#lander{
    position: absolute;
    left: 25%;
    right: 25%;
    top: 125%;
}
/* #lander{
    
    width: 40%;
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    
} */
.main
{
max-width: 1100px;
margin: auto;
overflow: auto;
padding: 0 2rem;
}
#aboutMe
{
    position: absolute;
    left: 25%;
    top: 225%;
    right: 10%;
} 
#work
{
    position: absolute;
    top: 320%;
    left: 20%;
    right: 20%;
}
#MyWork{
    position: absolute;
    top: 460%;
    left: 20%;
    right: 20%;
} 
#connect{
    
    position: absolute;
    top: 550%;
    left: 20%;
    right: 20%;
}
#work img{
    height: 150px;
    opacity: 1;
    width:  230px;
    
}
/* .main img{
    border-radius: 15px;
} */
#usegrid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
.use
{
    width: 250px;
    height: 156px;
}

.special{
    font-size: 1.3rem;
    color: rgb(34, 21, 82);
}


#aboutMe{
    display: flex;
    flex-direction: row;
}

.cards
{
    display: grid;
    background-color: #84def0;
    border: #351568;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
img:hover{
    cursor: pointer;
}

#connect p{
    color: rgb(42, 37, 71);
    font-size: 1.2rem;
}
footer{
    position: absolute;
    top: 630%;
    width: 100%;
    height: 150px;
    background-color: rgb(9, 5, 26);
    color: rgb(122, 154, 214);
    font-size: 1rem;
}
#MyWork h3{
    color: rgb(71, 99, 151);
    font-size: 1.8rem;
}
#MyWork p{
    color: cornflowerblue;
    font-size: 1.2rem;
}
#Workme{
    display: flex;
    flex-direction: row;
}
button{
    background-color: #351568;
    border: 4px solid rgb(134, 172, 164);
    color: rgb(134, 172, 164);
    width: 100px;
    height: 55px;
    transition: 1s;
    font-size: 15px;
}
button:hover{
    border: 6px solid rgb(155, 212, 200);
    color: rgb(147, 211, 197);
    cursor: pointer;
    font-size: 25px;
    width: 150px;
    height: 80px;
}
.ultaHaat ul 
{
list-style: none;
}
.ultaHaat ul li
{
color: #8892B0;
font-size: 2.5em;
text-align: center;
}
/* .ultaHaat ul{
    display: flex;
    flex-direction: column;
} */
.ultaHaat ul li:hover
{
cursor: pointer;
color: rgb(87, 79, 194);
}
.ultaHaat{
    
    position: fixed;
    display: block;
    top: 40%;
    left: 0;
    z-index: 999;
}
.footDiv{
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
}
.footDiv h5{
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
#work, #MyWork, #connect{
    
    background-color: #84def0;
}
@media only screen and (max-width: 800px)
{
    #lander{
    
        left: 5%;
        top: 120%;
        position: absolute;
        
    }
    #aboutMe
    {
        position: absolute;
        left: 5%;
        top: 180%;
        flex-direction: column;
    }
    .card
    {
        display: block;
    }
    #work
    {
        position: absolute;
        left: 4%;
        top: 310%;
    }
    #usegrid
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .use
    {
        width: 160px;
        height: 100px;
    }
    #MyWork
    {
        position: absolute;
        left: 5%;
        top: 480%;
    }
    #connect
    {
        position: absolute;
        left: 5%;
        top: 610%;
    }
    footer
    {
        position: absolute;
        top: 710%;
    }
    .ultaHaat
    {
        position: absolute;
        top: 690%;
        left: 45%;
        transform: translate(-50%, 0%);
        text-align: center;
    }
    #work img{
        height: 95px;
        opacity: 1;
        width:  160px;
    }
    .ultaHaat ul 
    {
        display: flex;
    }
    #usegrid{grid-gap: 0.5em;}
    #Workme{
        flex-direction: column;
    }

}